---
import Nav from "../components/Nav.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const {
	title,
	description = "DevOps engineer, Linux enthusiast, homelab tinkerer."
} = Astro.props;

const canonicalURL = new URL(
	Astro.url.pathname,
	"https://phoenyxlab.xyz"
	);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{title}</title>
	<link
			rel="canonical"
			href={canonicalURL.toString()}
	/>
	<meta
			name="og:title"
			content={title}
	/>
	<meta
			name="og:title"
			content={title}
	/>
	<meta
			name="og:description"
			content={description}
	/>
	<meta
			name="og:type"
			content="website"
	/>
	<meta
			name="generator"
			content={Astro.generator}
	/>
	<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
	/>
    <link rel="stylesheet" href="/global.css" />
  </head>

  <body>
	<div class="layout">
		<aside>
			<Nav />
		</aside>

		<main>
		  <slot />
		</main>
	</div>
  </body>
</html>
